body {
  background: lavenderblush;
    font-size: 15pt;
  color: darkblue;
  text-align: center;
}
a {
  text-decoration: none;
}
h1{
  color: purple;
}
.profile-img {
  width: 50%;
  border-radius: 50%;
}
.btn{
  display: block;
  color: black;
  padding: 20px;
  background: white;
  margin: 16px;
  box-shadow: 10px 10px lightblue;
  
}